@mixin for-mobile-only {
	
	@media (max-width: 375px) {
		
		@content;
	}
}


// styles for mobile screens

	
	body {
		
	
	@include for-mobile-only {
			

		width: auto;
		
		
	
	.header-contain {
		background-image: url(/images/bg-hero-mobile.svg);
		background-repeat: no-repeat;
		background-size: cover;
		width: auto;
		padding: 30px 10px 0 10px;
		
		img {
			
			width: 60%;
		}
		
		.nav {
			
			align-items: center;
			
		}
	}
	
	.try-btn {
		
		width: 120px;
		height: 30px;
	}
	
	.top-content {
		
		flex-direction: column;
		text-align: center;
		margin-top: 90px;
	}
	
	h1 {
		
		font-size: 140%;
	}
	
	.top-start-btn {
		
		width: 290px;
		margin-bottom: 50px;
	}
		}
	
 } 

.btn {
		
	@include for-mobile-only {
		
		font-size: 14px;
	}
		
	}

.grow {
	
	@include for-mobile-only {
		
	flex-direction: column-reverse;
	text-align: center;
	
	
	
	.grow-img {
		
		width: 100%;
		
	}
	
	.contents {
		
		padding: 30px 10px 30px 10px;
		
		
		
		h2 {
			
			font-size: 130%;
			margin-top: 10px;
			
			
		}
		
		p {
			margin: 5px 0 0 0;
			font-size: 80%;
		}
	}
	}
}




.flowing {
	
	@include for-mobile-only {
		
	flex-direction: column-reverse;
	text-align: center;
	width: 320px;
	
	
	.flowing-img {
		
		width: 100%;
		
	}
	
	.contents {
		
		padding: 30px 10px 30px 10px;
		
		
		
		h2 {
			
			font-size: 130%;
			margin-top: 10px;
			
			
		}
		
		p {
			margin: 5px 0 0 0;
			font-size: 80%;
			padding: 0 10px;
		}
	}
	}
}

.users {
	@include for-mobile-only {
		
	
	flex-direction: column-reverse;
	text-align: center;
	width: 320px;
	
	
	.users-img {
		
		width: 100%;
		
	}
	
	.contents {
		
		padding: 30px 10px 30px 10px;
		
		
		
		h2 {
			
			font-size: 130%;
			margin-top: 10px;
			
			
		}
		
		p {
			margin: 5px -10px 0 -10px;
			font-size: 80%;
			
		}
	}
	}
}


.ready {
	@include for-mobile-only {
	
	top: 2600px;
	left: 20px;
	width: auto;
	
	h2 {
		
		font-size: 100%;
	}
	}
}
footer {
	
	@include for-mobile-only {

	width: auto;
	
	.footer-content {
		
		flex-direction: column;
		align-items: flex-start;
		
		
	}
		
			
	
	.flex-4 {
		
		align-self: center;
		margin: 20px 0 0 0;
	}
	
	.bottom-logo {
		
		margin: 80px 0 20px 0;
	}
	
	.email, .location, .phone {
		
		width: 95%;
	}
	
	
	.attribution {
		
		
		text-align: center;
	}
	.copy-rights {
		
		margin-top: 60px;
		text-align: center;
	}
}
	
}

//@media (max-width: 375px) {
//	
//	body {
//		
//		width: auto;
//		
//		
//	}
//	.header-contain {
//		background-image: url(/images/bg-hero-mobile.svg);
//		background-repeat: no-repeat;
//		background-size: cover;
//		width: auto;
//		padding: 30px 10px 0 10px;
//		
//		img {
//			
//			width: 60%;
//		}
//		
//		.nav {
//			
//			align-items: center;
//			
//		}
//	}
//	
//	.try-btn {
//		
//		width: 120px;
//		height: 30px;
//	}
//	
//	.top-content {
//		
//		flex-direction: column;
//		text-align: center;
//		margin-top: 90px;
//	}
//	
//	h1 {
//		
//		font-size: 140%;
//	}
//	
//	.top-start-btn {
//		
//		width: 290px;
//		margin-bottom: 50px;
//	}
//	
//	
//}
//
//.btn {
//		
//		font-size: 14px;
//	}
//
//.grow {
//	
//	flex-direction: column-reverse;
//	text-align: center;
//	
//	
//	
//	.grow-img {
//		
//		width: 100%;
//		
//	}
//	
//	.contents {
//		
//		padding: 30px 10px 30px 10px;
//		
//		
//		
//		h2 {
//			
//			font-size: 130%;
//			margin-top: 10px;
//			
//			
//		}
//		
//		p {
//			margin: 5px 0 0 0;
//			font-size: 80%;
//		}
//	}
//}
//
//
//
//
//.flowing {
//	
//	
//	flex-direction: column-reverse;
//	text-align: center;
//	width: 320px;
//	
//	
//	.flowing-img {
//		
//		width: 100%;
//		
//	}
//	
//	.contents {
//		
//		padding: 30px 10px 30px 10px;
//		
//		
//		
//		h2 {
//			
//			font-size: 130%;
//			margin-top: 10px;
//			
//			
//		}
//		
//		p {
//			margin: 5px 0 0 0;
//			font-size: 80%;
//			padding: 0 10px;
//		}
//	}
//}
//
//.users {
//	
//	flex-direction: column-reverse;
//	text-align: center;
//	width: 320px;
//	
//	
//	.users-img {
//		
//		width: 100%;
//		
//	}
//	
//	.contents {
//		
//		padding: 30px 10px 30px 10px;
//		
//		
//		
//		h2 {
//			
//			font-size: 130%;
//			margin-top: 10px;
//			
//			
//		}
//		
//		p {
//			margin: 5px -10px 0 -10px;
//			font-size: 80%;
//			
//		}
//	}
//}
//
//
//.ready {
//	
//	top: 2600px;
//	left: 20px;
//	width: auto;
//	
//	h2 {
//		
//		font-size: 100%;
//	}
//	
//}
//footer {
//	
//
//	width: auto;
//	
//	.footer-content {
//		
//		flex-direction: column;
//		align-items: flex-start;
//		
//	}
//	
//	.flex-4 {
//		
//		align-self: center;
//		margin: 20px 0 0 0;
//	}
//	
//	.bottom-logo {
//		
//		margin: 80px 0 20px 0;
//	}
//	
//	.email, .location, .phone {
//		
//		width: 95%;
//	}
//	
//	
//	.attribution {
//		
//		
//		text-align: center;
//	}
//	.copy-rights {
//		
//		margin-top: 60px;
//		text-align: center;
//	}
//}